@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  scroll-padding-top: 80px; /* if using a sticky navbar */
}

.custom-hero {
    background-image: url("/assets/pictures/hero-bg.jpeg");
}

.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.transform-style:hover {
  transform: rotateY(10deg) rotateX(5deg);
}


.backface-hidden {
  backface-visibility: hidden;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
